@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?phrmu2');
  src:  url('fonts/icomoon.eot?phrmu2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?phrmu2') format('truetype'),
    url('fonts/icomoon.woff?phrmu2') format('woff'),
    url('fonts/icomoon.svg?phrmu2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-icomoon-"], [class*=" i-icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-icomoon-flower-1:before {
  content: "\e904";
}
.i-icomoon-heart2:before {
  content: "\e903";
}
.i-icomoon-spades:before {
  content: "\e917";
}
.i-icomoon-clubs:before {
  content: "\e918";
}
.i-icomoon-diamonds:before {
  content: "\e919";
}
.i-icomoon-heart:before {
  content: "\e9da";
}
.i-icomoon-heart-broken:before {
  content: "\e9db";
}
.i-icomoon-man:before {
  content: "\e9dc";
}
.i-icomoon-woman:before {
  content: "\e9dd";
}
.i-icomoon-man-woman:before {
  content: "\e9de";
}
.i-icomoon-user:before {
  content: "\e971";
}
.i-icomoon-users:before {
  content: "\e972";
}
.i-icomoon-user-plus:before {
  content: "\e973";
}
.i-icomoon-user-minus:before {
  content: "\e974";
}
.i-icomoon-user-check:before {
  content: "\e975";
}
.i-icomoon-home:before {
  content: "\e900";
}
.i-icomoon-home2:before {
  content: "\e901";
}
.i-icomoon-home3:before {
  content: "\e902";
}
.i-icomoon-camera:before {
  content: "\e90f";
}
.i-icomoon-headphones:before {
  content: "\e910";
}
.i-icomoon-music:before {
  content: "\e911";
}
.i-icomoon-play:before {
  content: "\e912";
}
.i-icomoon-film:before {
  content: "\e913";
}
.i-icomoon-video-camera:before {
  content: "\e914";
}
.i-icomoon-connection:before {
  content: "\e91b";
}
.i-icomoon-mic:before {
  content: "\e91e";
}
.i-icomoon-book:before {
  content: "\e91f";
}
.i-icomoon-books:before {
  content: "\e920";
}
.i-icomoon-file-text:before {
  content: "\e922";
}
.i-icomoon-profile:before {
  content: "\e923";
}
.i-icomoon-file-empty:before {
  content: "\e924";
}
.i-icomoon-files-empty:before {
  content: "\e925";
}
.i-icomoon-file-text2:before {
  content: "\e926";
}
.i-icomoon-file-picture:before {
  content: "\e927";
}
.i-icomoon-file-music:before {
  content: "\e928";
}
.i-icomoon-file-play:before {
  content: "\e929";
}
.i-icomoon-file-video:before {
  content: "\e92a";
}
.i-icomoon-file-zip:before {
  content: "\e92b";
}
.i-icomoon-copy:before {
  content: "\e92c";
}
.i-icomoon-paste:before {
  content: "\e92d";
}
.i-icomoon-stack:before {
  content: "\e92e";
}
.i-icomoon-folder:before {
  content: "\e92f";
}
.i-icomoon-folder-open:before {
  content: "\e930";
}
.i-icomoon-folder-plus:before {
  content: "\e931";
}
.i-icomoon-folder-minus:before {
  content: "\e932";
}
.i-icomoon-folder-download:before {
  content: "\e933";
}
.i-icomoon-folder-upload:before {
  content: "\e934";
}
.i-icomoon-price-tag:before {
  content: "\e935";
}
.i-icomoon-price-tags:before {
  content: "\e936";
}
.i-icomoon-barcode:before {
  content: "\e937";
}
.i-icomoon-qrcode:before {
  content: "\e938";
}
.i-icomoon-ticket:before {
  content: "\e939";
}
.i-icomoon-cart:before {
  content: "\e93a";
}
.i-icomoon-coin-dollar:before {
  content: "\e93b";
}
.i-icomoon-coin-yen:before {
  content: "\e93e";
}
.i-icomoon-credit-card:before {
  content: "\e93f";
}
.i-icomoon-calculator:before {
  content: "\e940";
}
.i-icomoon-phone:before {
  content: "\e942";
}
.i-icomoon-phone-hang-up:before {
  content: "\e943";
}
.i-icomoon-address-book:before {
  content: "\e944";
}
.i-icomoon-envelop:before {
  content: "\e945";
}
.i-icomoon-pushpin:before {
  content: "\e946";
}
.i-icomoon-location:before {
  content: "\e947";
}
.i-icomoon-location2:before {
  content: "\e948";
}
.i-icomoon-compass:before {
  content: "\e949";
}
.i-icomoon-compass2:before {
  content: "\e94a";
}
.i-icomoon-map:before {
  content: "\e94b";
}
.i-icomoon-map2:before {
  content: "\e94c";
}
.i-icomoon-history:before {
  content: "\e94d";
}
.i-icomoon-clock:before {
  content: "\e94e";
}
.i-icomoon-clock2:before {
  content: "\e94f";
}
.i-icomoon-alarm:before {
  content: "\e950";
}
.i-icomoon-bell:before {
  content: "\e951";
}
.i-icomoon-stopwatch:before {
  content: "\e952";
}
.i-icomoon-calendar:before {
  content: "\e953";
}
.i-icomoon-printer:before {
  content: "\e954";
}
.i-icomoon-keyboard:before {
  content: "\e955";
}
.i-icomoon-display:before {
  content: "\e956";
}
.i-icomoon-laptop:before {
  content: "\e957";
}
.i-icomoon-mobile:before {
  content: "\e958";
}
.i-icomoon-mobile2:before {
  content: "\e959";
}
.i-icomoon-tablet:before {
  content: "\e95a";
}
.i-icomoon-tv:before {
  content: "\e95b";
}
.i-icomoon-box-add:before {
  content: "\e95e";
}
.i-icomoon-box-remove:before {
  content: "\e95f";
}
.i-icomoon-download:before {
  content: "\e960";
}
.i-icomoon-upload:before {
  content: "\e961";
}
.i-icomoon-floppy-disk:before {
  content: "\e962";
}
.i-icomoon-undo:before {
  content: "\e965";
}
.i-icomoon-redo:before {
  content: "\e966";
}
.i-icomoon-undo2:before {
  content: "\e967";
}
.i-icomoon-quotes-left:before {
  content: "\e977";
}
.i-icomoon-quotes-right:before {
  content: "\e978";
}
.i-icomoon-hour-glass:before {
  content: "\e979";
}
.i-icomoon-spinner:before {
  content: "\e97a";
}
.i-icomoon-spinner2:before {
  content: "\e97b";
}
.i-icomoon-spinner3:before {
  content: "\e97c";
}
.i-icomoon-spinner4:before {
  content: "\e97d";
}
.i-icomoon-spinner5:before {
  content: "\e97e";
}
.i-icomoon-spinner6:before {
  content: "\e97f";
}
.i-icomoon-spinner7:before {
  content: "\e980";
}
.i-icomoon-spinner8:before {
  content: "\e981";
}
.i-icomoon-spinner9:before {
  content: "\e982";
}
.i-icomoon-spinner10:before {
  content: "\e983";
}
.i-icomoon-spinner11:before {
  content: "\e984";
}
.i-icomoon-search:before {
  content: "\e986";
}
.i-icomoon-zoom-in:before {
  content: "\e987";
}
.i-icomoon-zoom-out:before {
  content: "\e988";
}
.i-icomoon-enlarge:before {
  content: "\e989";
}
.i-icomoon-shrink:before {
  content: "\e98a";
}
.i-icomoon-enlarge2:before {
  content: "\e98b";
}
.i-icomoon-shrink2:before {
  content: "\e98c";
}
.i-icomoon-key:before {
  content: "\e98d";
}
.i-icomoon-key2:before {
  content: "\e98e";
}
.i-icomoon-lock:before {
  content: "\e98f";
}
.i-icomoon-unlocked:before {
  content: "\e990";
}
.i-icomoon-cog:before {
  content: "\e994";
}
.i-icomoon-bin:before {
  content: "\e9ac";
}
.i-icomoon-bin2:before {
  content: "\e9ad";
}
.i-icomoon-cloud:before {
  content: "\e9c1";
}
.i-icomoon-cloud-download:before {
  content: "\e9c2";
}
.i-icomoon-cloud-upload:before {
  content: "\e9c3";
}
.i-icomoon-cloud-check:before {
  content: "\e9c4";
}
.i-icomoon-download2:before {
  content: "\e9c5";
}
.i-icomoon-upload2:before {
  content: "\e9c6";
}
.i-icomoon-download3:before {
  content: "\e9c7";
}
.i-icomoon-upload3:before {
  content: "\e9c8";
}
.i-icomoon-link:before {
  content: "\e9cb";
}
.i-icomoon-flag:before {
  content: "\e9cc";
}
.i-icomoon-attachment:before {
  content: "\e9cd";
}
.i-icomoon-bookmark:before {
  content: "\e9d2";
}
.i-icomoon-point-up:before {
  content: "\ea03";
}
.i-icomoon-point-right:before {
  content: "\ea04";
}
.i-icomoon-point-down:before {
  content: "\ea05";
}
.i-icomoon-point-left:before {
  content: "\ea06";
}
.i-icomoon-warning:before {
  content: "\ea07";
}
.i-icomoon-notification:before {
  content: "\ea08";
}
.i-icomoon-question:before {
  content: "\ea09";
}
.i-icomoon-plus:before {
  content: "\ea0a";
}
.i-icomoon-minus:before {
  content: "\ea0b";
}
.i-icomoon-info:before {
  content: "\ea0c";
}
.i-icomoon-cancel-circle:before {
  content: "\ea0d";
}
.i-icomoon-blocked:before {
  content: "\ea0e";
}
.i-icomoon-cross:before {
  content: "\ea0f";
}
.i-icomoon-checkmark:before {
  content: "\ea10";
}
.i-icomoon-checkmark2:before {
  content: "\ea11";
}
.i-icomoon-play2:before {
  content: "\ea15";
}
.i-icomoon-pause:before {
  content: "\ea16";
}
.i-icomoon-stop:before {
  content: "\ea17";
}
.i-icomoon-previous:before {
  content: "\ea18";
}
.i-icomoon-next:before {
  content: "\ea19";
}
.i-icomoon-backward:before {
  content: "\ea1a";
}
.i-icomoon-forward2:before {
  content: "\ea1b";
}
.i-icomoon-play3:before {
  content: "\ea1c";
}
.i-icomoon-pause2:before {
  content: "\ea1d";
}
.i-icomoon-stop2:before {
  content: "\ea1e";
}
.i-icomoon-backward2:before {
  content: "\ea1f";
}
.i-icomoon-forward3:before {
  content: "\ea20";
}
.i-icomoon-first:before {
  content: "\ea21";
}
.i-icomoon-last:before {
  content: "\ea22";
}
.i-icomoon-previous2:before {
  content: "\ea23";
}
.i-icomoon-next2:before {
  content: "\ea24";
}
.i-icomoon-eject:before {
  content: "\ea25";
}
.i-icomoon-volume-high:before {
  content: "\ea26";
}
.i-icomoon-volume-medium:before {
  content: "\ea27";
}
.i-icomoon-volume-low:before {
  content: "\ea28";
}
.i-icomoon-volume-mute:before {
  content: "\ea29";
}
.i-icomoon-volume-mute2:before {
  content: "\ea2a";
}
.i-icomoon-volume-increase:before {
  content: "\ea2b";
}
.i-icomoon-volume-decrease:before {
  content: "\ea2c";
}
.i-icomoon-loop:before {
  content: "\ea2d";
}
.i-icomoon-loop2:before {
  content: "\ea2e";
}
.i-icomoon-arrow-up-left:before {
  content: "\ea31";
}
.i-icomoon-arrow-up:before {
  content: "\ea32";
}
.i-icomoon-arrow-up-right:before {
  content: "\ea33";
}
.i-icomoon-arrow-right:before {
  content: "\ea34";
}
.i-icomoon-arrow-down-right:before {
  content: "\ea35";
}
.i-icomoon-arrow-down:before {
  content: "\ea36";
}
.i-icomoon-arrow-down-left:before {
  content: "\ea37";
}
.i-icomoon-arrow-left:before {
  content: "\ea38";
}
.i-icomoon-arrow-up-left2:before {
  content: "\ea39";
}
.i-icomoon-arrow-up2:before {
  content: "\ea3a";
}
.i-icomoon-arrow-up-right2:before {
  content: "\ea3b";
}
.i-icomoon-arrow-right2:before {
  content: "\ea3c";
}
.i-icomoon-arrow-down-right2:before {
  content: "\ea3d";
}
.i-icomoon-arrow-down2:before {
  content: "\ea3e";
}
.i-icomoon-arrow-down-left2:before {
  content: "\ea3f";
}
.i-icomoon-arrow-left2:before {
  content: "\ea40";
}
.i-icomoon-circle-up:before {
  content: "\ea41";
}
.i-icomoon-circle-right:before {
  content: "\ea42";
}
.i-icomoon-circle-down:before {
  content: "\ea43";
}
.i-icomoon-circle-left:before {
  content: "\ea44";
}
.i-icomoon-exit:before {
  content: "\e879";
}
.i-icomoon-get:before {
  content: "\e884";
}
.i-icomoon-file-upload:before {
  content: "\e2c6";
}
.i-icomoon-external:before {
  content: "\e89e";
}
