@font-face {
  font-family: 'arrows';
  src:  url('fonts/arrows.eot?dwy24m');
  src:  url('fonts/arrows.eot?dwy24m#iefix') format('embedded-opentype'),
    url('fonts/arrows.ttf?dwy24m') format('truetype'),
    url('fonts/arrows.woff?dwy24m') format('woff'),
    url('fonts/arrows.svg?dwy24m#arrows') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-arrows-"], [class*=" i-arrows-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'arrows' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrows-half-arrow2-03-l:before {
  content: "\e9f3";
}
.i-arrows-half-arrow2-03-r:before {
  content: "\e9f4";
}
.i-arrows-half-arrow2-1-l:before {
  content: "\e9f5";
}
.i-arrows-half-arrow2-1-r:before {
  content: "\e9f6";
}
.i-arrows-half-arrow2-2-l:before {
  content: "\e9f7";
}
.i-arrows-half-arrow2-2-r:before {
  content: "\e9f8";
}
.i-arrows-half-arrow-03-l:before {
  content: "\e9e4";
}
.i-arrows-half-arrow-03-r:before {
  content: "\e9f2";
}
.i-arrows-half-arrow-1-l:before {
  content: "\e9cc";
}
.i-arrows-half-arrow-1-r:before {
  content: "\e9cd";
}
.i-arrows-half-arrow-2-l:before {
  content: "\e9ce";
}
.i-arrows-half-arrow-2-r:before {
  content: "\e9cf";
}
.i-arrows-half-arrow-3-l:before {
  content: "\e9d0";
}
.i-arrows-half-arrow-3-r:before {
  content: "\e9d1";
}
.i-arrows-half-arrow-4-l:before {
  content: "\e9d2";
}
.i-arrows-half-arrow-4-r:before {
  content: "\e9d3";
}
.i-arrows-courner-1-tr:before {
  content: "\e9d4";
}
.i-arrows-courner-1-br:before {
  content: "\e9d5";
}
.i-arrows-courner-1-bl:before {
  content: "\e9d6";
}
.i-arrows-courner-1-tl:before {
  content: "\e9d7";
}
.i-arrows-courner-2-tr:before {
  content: "\e9d8";
}
.i-arrows-courner-2-br:before {
  content: "\e9d9";
}
.i-arrows-courner-2-bl:before {
  content: "\e9da";
}
.i-arrows-courner-2-tl:before {
  content: "\e9db";
}
.i-arrows-courner-3-tr:before {
  content: "\e9dc";
}
.i-arrows-courner-3-br:before {
  content: "\e9dd";
}
.i-arrows-courner-3-bl:before {
  content: "\e9de";
}
.i-arrows-courner-3-tl:before {
  content: "\e9df";
}
.i-arrows-courner-4-tr:before {
  content: "\e9e0";
}
.i-arrows-courner-4-br:before {
  content: "\e9e1";
}
.i-arrows-courner-4-bl:before {
  content: "\e9e2";
}
.i-arrows-courner-4-tl:before {
  content: "\e9e3";
}
.i-arrows-long-arrow-03-l:before {
  content: "\e9f0";
}
.i-arrows-long-arrow-03-r:before {
  content: "\e9f1";
}
.i-arrows-long-arrow-03-u:before {
  content: "\e9ef";
}
.i-arrows-long-arrow-03-d:before {
  content: "\e9ee";
}
.i-arrows-long-arrow-1-l:before {
  content: "\e9b9";
}
.i-arrows-long-arrow-1-r:before {
  content: "\e9cb";
}
.i-arrows-long-arrow-1-u:before {
  content: "\e9bf";
}
.i-arrows-long-arrow-1-d:before {
  content: "\e9c5";
}
.i-arrows-long-arrow-2-l:before {
  content: "\e9ba";
}
.i-arrows-long-arrow-2-r:before {
  content: "\e9b4";
}
.i-arrows-long-arrow-2-u:before {
  content: "\e9c0";
}
.i-arrows-long-arrow-2-d:before {
  content: "\e9c6";
}
.i-arrows-long-arrow-3-l:before {
  content: "\e9bb";
}
.i-arrows-long-arrow-3-r:before {
  content: "\e9b5";
}
.i-arrows-long-arrow-3-u:before {
  content: "\e9c1";
}
.i-arrows-long-arrow-3-d:before {
  content: "\e9c7";
}
.i-arrows-long-arrow-4-l:before {
  content: "\e9bc";
}
.i-arrows-long-arrow-4-r:before {
  content: "\e9b6";
}
.i-arrows-long-arrow-4-u:before {
  content: "\e9c2";
}
.i-arrows-long-arrow-4-d:before {
  content: "\e9c8";
}
.i-arrows-long-arrow-5-l:before {
  content: "\e9bd";
}
.i-arrows-long-arrow-5-r:before {
  content: "\e9b7";
}
.i-arrows-long-arrow-5-u:before {
  content: "\e9c3";
}
.i-arrows-long-arrow-5-d:before {
  content: "\e9c9";
}
.i-arrows-long-arrow-6-l:before {
  content: "\e9be";
}
.i-arrows-long-arrow-6-r:before {
  content: "\e9b8";
}
.i-arrows-long-arrow-6-u:before {
  content: "\e9c4";
}
.i-arrows-long-arrow-6-d:before {
  content: "\e9ca";
}
.i-arrows-times-r-1:before {
  content: "\e9a0";
}
.i-arrows-times-r-2:before {
  content: "\e9a1";
}
.i-arrows-times-r-3:before {
  content: "\e9a2";
}
.i-arrows-times-r-4:before {
  content: "\e9a3";
}
.i-arrows-times-r-5:before {
  content: "\e9a4";
}
.i-arrows-times-r-6:before {
  content: "\e9a5";
}
.i-arrows-times-r-7:before {
  content: "\e9a6";
}
.i-arrows-times-r-8:before {
  content: "\e9a7";
}
.i-arrows-times-r-9:before {
  content: "\e9a8";
}
.i-arrows-times-r-10:before {
  content: "\e9a9";
}
.i-arrows-times-03:before {
  content: "\e9ed";
}
.i-arrows-times-1:before {
  content: "\e9aa";
}
.i-arrows-times-2:before {
  content: "\e9ab";
}
.i-arrows-times-3:before {
  content: "\e9ac";
}
.i-arrows-times-4:before {
  content: "\e9ad";
}
.i-arrows-times-5:before {
  content: "\e9ae";
}
.i-arrows-times-6:before {
  content: "\e9af";
}
.i-arrows-times-7:before {
  content: "\e9b0";
}
.i-arrows-times-8:before {
  content: "\e9b1";
}
.i-arrows-times-9:before {
  content: "\e9b2";
}
.i-arrows-times-10:before {
  content: "\e9b3";
}
.i-arrows-arrow-03-l:before {
  content: "\e9eb";
}
.i-arrows-arrow-03-r:before {
  content: "\e9ec";
}
.i-arrows-arrow-03-u:before {
  content: "\e9ea";
}
.i-arrows-arrow-03-b:before {
  content: "\e9e9";
}
.i-arrows-arrow-1-l:before {
  content: "\e929";
}
.i-arrows-arrow-1-r:before {
  content: "\e92a";
}
.i-arrows-arrow-1-u:before {
  content: "\e92b";
}
.i-arrows-arrow-1-d:before {
  content: "\e928";
}
.i-arrows-arrow-2-l:before {
  content: "\e92d";
}
.i-arrows-arrow-2-r:before {
  content: "\e92e";
}
.i-arrows-arrow-2-u:before {
  content: "\e92f";
}
.i-arrows-arrow-2-d:before {
  content: "\e92c";
}
.i-arrows-arrow-3-l:before {
  content: "\e931";
}
.i-arrows-arrow-3-r:before {
  content: "\e932";
}
.i-arrows-arrow-3-u:before {
  content: "\e933";
}
.i-arrows-arrow-3-d:before {
  content: "\e930";
}
.i-arrows-arrow-4-l:before {
  content: "\e935";
}
.i-arrows-arrow-4-r:before {
  content: "\e936";
}
.i-arrows-arrow-4-u:before {
  content: "\e937";
}
.i-arrows-arrow-4-d:before {
  content: "\e934";
}
.i-arrows-arrow-5-l:before {
  content: "\e939";
}
.i-arrows-arrow-5-r:before {
  content: "\e93a";
}
.i-arrows-arrow-5-u:before {
  content: "\e93b";
}
.i-arrows-arrow-5-d:before {
  content: "\e938";
}
.i-arrows-arrow-6-l:before {
  content: "\e93d";
}
.i-arrows-arrow-6-r:before {
  content: "\e93e";
}
.i-arrows-arrow-6-u:before {
  content: "\e93f";
}
.i-arrows-arrow-6-d:before {
  content: "\e93c";
}
.i-arrows-arrow-7-l:before {
  content: "\e941";
}
.i-arrows-arrow-7-r:before {
  content: "\e942";
}
.i-arrows-arrow-7-u:before {
  content: "\e943";
}
.i-arrows-arrow-7-d:before {
  content: "\e940";
}
.i-arrows-arrow-8-l:before {
  content: "\e945";
}
.i-arrows-arrow-8-r:before {
  content: "\e946";
}
.i-arrows-arrow-8-u:before {
  content: "\e947";
}
.i-arrows-arrow-8-d:before {
  content: "\e944";
}
.i-arrows-arrow-9-l:before {
  content: "\e949";
}
.i-arrows-arrow-9-r:before {
  content: "\e94a";
}
.i-arrows-arrow-9-u:before {
  content: "\e94b";
}
.i-arrows-arrow-9-d:before {
  content: "\e948";
}
.i-arrows-arrow-10-l:before {
  content: "\e94d";
}
.i-arrows-arrow-10-r:before {
  content: "\e94e";
}
.i-arrows-arrow-10-u:before {
  content: "\e94f";
}
.i-arrows-arrow-10-d:before {
  content: "\e94c";
}
.i-arrows-arrow-r-1-l:before {
  content: "\e951";
}
.i-arrows-arrow-r-1-r:before {
  content: "\e952";
}
.i-arrows-arrow-r-1-u:before {
  content: "\e953";
}
.i-arrows-arrow-r-1-d:before {
  content: "\e950";
}
.i-arrows-arrow-r-2-l:before {
  content: "\e955";
}
.i-arrows-arrow-r-2-r:before {
  content: "\e956";
}
.i-arrows-arrow-r-2-u:before {
  content: "\e957";
}
.i-arrows-arrow-r-2-d:before {
  content: "\e954";
}
.i-arrows-arrow-r-3-l:before {
  content: "\e959";
}
.i-arrows-arrow-r-3-r:before {
  content: "\e95a";
}
.i-arrows-arrow-r-3-u:before {
  content: "\e95b";
}
.i-arrows-arrow-r-3-d:before {
  content: "\e958";
}
.i-arrows-arrow-r-4-l:before {
  content: "\e95d";
}
.i-arrows-arrow-r-4-r:before {
  content: "\e95e";
}
.i-arrows-arrow-r-4-u:before {
  content: "\e95f";
}
.i-arrows-arrow-r-4-d:before {
  content: "\e95c";
}
.i-arrows-arrow-r-5-l:before {
  content: "\e961";
}
.i-arrows-arrow-r-5-r:before {
  content: "\e962";
}
.i-arrows-arrow-r-5-u:before {
  content: "\e963";
}
.i-arrows-arrow-r-5-d:before {
  content: "\e960";
}
.i-arrows-arrow-r-6-l:before {
  content: "\e965";
}
.i-arrows-arrow-r-6-r:before {
  content: "\e966";
}
.i-arrows-arrow-r-6-u:before {
  content: "\e967";
}
.i-arrows-arrow-r-6-d:before {
  content: "\e964";
}
.i-arrows-arrow-r-7-l:before {
  content: "\e969";
}
.i-arrows-arrow-r-7-r:before {
  content: "\e96a";
}
.i-arrows-arrow-r-7-u:before {
  content: "\e96b";
}
.i-arrows-arrow-r-7-d:before {
  content: "\e968";
}
.i-arrows-arrow-r-8-l:before {
  content: "\e96d";
}
.i-arrows-arrow-r-8-r:before {
  content: "\e96e";
}
.i-arrows-arrow-r-8-u:before {
  content: "\e96f";
}
.i-arrows-arrow-r-8-d:before {
  content: "\e96c";
}
.i-arrows-arrow-r-9-l:before {
  content: "\e971";
}
.i-arrows-arrow-r-9-r:before {
  content: "\e972";
}
.i-arrows-arrow-r-9-u:before {
  content: "\e973";
}
.i-arrows-arrow-r-9-d:before {
  content: "\e970";
}
.i-arrows-arrow-r-10-l:before {
  content: "\e975";
}
.i-arrows-arrow-r-10-r:before {
  content: "\e976";
}
.i-arrows-arrow-r-10-u:before {
  content: "\e977";
}
.i-arrows-arrow-r-10-d:before {
  content: "\e974";
}
.i-arrows-angle-r-1-l:before {
  content: "\e979";
}
.i-arrows-angle-r-1-r:before {
  content: "\e97a";
}
.i-arrows-angle-r-1-u:before {
  content: "\e97b";
}
.i-arrows-angle-r-1-d:before {
  content: "\e978";
}
.i-arrows-angle-r-2-l:before {
  content: "\e97d";
}
.i-arrows-angle-r-2-r:before {
  content: "\e97e";
}
.i-arrows-angle-r-2-u:before {
  content: "\e97f";
}
.i-arrows-angle-r-2-d:before {
  content: "\e97c";
}
.i-arrows-angle-r-3-l:before {
  content: "\e981";
}
.i-arrows-angle-r-3-r:before {
  content: "\e982";
}
.i-arrows-angle-r-3-u:before {
  content: "\e983";
}
.i-arrows-angle-r-3-d:before {
  content: "\e980";
}
.i-arrows-angle-r-4-l:before {
  content: "\e985";
}
.i-arrows-angle-r-4-r:before {
  content: "\e986";
}
.i-arrows-angle-r-4-u:before {
  content: "\e987";
}
.i-arrows-angle-r-4-d:before {
  content: "\e984";
}
.i-arrows-angle-r-5-l:before {
  content: "\e989";
}
.i-arrows-angle-r-5-r:before {
  content: "\e98a";
}
.i-arrows-angle-r-5-u:before {
  content: "\e98b";
}
.i-arrows-angle-r-5-d:before {
  content: "\e988";
}
.i-arrows-angle-r-6-l:before {
  content: "\e98d";
}
.i-arrows-angle-r-6-r:before {
  content: "\e98e";
}
.i-arrows-angle-r-6-u:before {
  content: "\e98f";
}
.i-arrows-angle-r-6-d:before {
  content: "\e98c";
}
.i-arrows-angle-r-7-l:before {
  content: "\e991";
}
.i-arrows-angle-r-7-r:before {
  content: "\e992";
}
.i-arrows-angle-r-7-u:before {
  content: "\e993";
}
.i-arrows-angle-r-7-d:before {
  content: "\e990";
}
.i-arrows-angle-r-8-l:before {
  content: "\e995";
}
.i-arrows-angle-r-8-r:before {
  content: "\e996";
}
.i-arrows-angle-r-8-u:before {
  content: "\e997";
}
.i-arrows-angle-r-8-d:before {
  content: "\e994";
}
.i-arrows-angle-r-9-l:before {
  content: "\e999";
}
.i-arrows-angle-r-9-r:before {
  content: "\e99a";
}
.i-arrows-angle-r-9-u:before {
  content: "\e99b";
}
.i-arrows-angle-r-9-d:before {
  content: "\e998";
}
.i-arrows-angle-r-10-l:before {
  content: "\e99d";
}
.i-arrows-angle-r-10-r:before {
  content: "\e99e";
}
.i-arrows-angle-r-10-u:before {
  content: "\e99f";
}
.i-arrows-angle-r-10-d:before {
  content: "\e99c";
}
.i-arrows-angle-03-l:before {
  content: "\e9e7";
}
.i-arrows-angle-03-r:before {
  content: "\e9e8";
}
.i-arrows-angle-03-u:before {
  content: "\e9e6";
}
.i-arrows-angle-03-d:before {
  content: "\e9e5";
}
.i-arrows-angle-1-l:before {
  content: "\e901";
}
.i-arrows-angle-1-r:before {
  content: "\e902";
}
.i-arrows-angle-1-u:before {
  content: "\e903";
}
.i-arrows-angle-1-d:before {
  content: "\e900";
}
.i-arrows-angle-2-l:before {
  content: "\e905";
}
.i-arrows-angle-2-r:before {
  content: "\e906";
}
.i-arrows-angle-2-u:before {
  content: "\e907";
}
.i-arrows-angle-2-d:before {
  content: "\e904";
}
.i-arrows-angle-3-l:before {
  content: "\e909";
}
.i-arrows-angle-3-r:before {
  content: "\e90a";
}
.i-arrows-angle-3-u:before {
  content: "\e90b";
}
.i-arrows-angle-3-d:before {
  content: "\e908";
}
.i-arrows-angle-4-l:before {
  content: "\e925";
}
.i-arrows-angle-4-r:before {
  content: "\e90c";
}
.i-arrows-angle-4-u:before {
  content: "\e90d";
}
.i-arrows-angle-4-d:before {
  content: "\e924";
}
.i-arrows-angle-5-l:before {
  content: "\e90f";
}
.i-arrows-angle-5-r:before {
  content: "\e910";
}
.i-arrows-angle-5-u:before {
  content: "\e911";
}
.i-arrows-angle-5-d:before {
  content: "\e90e";
}
.i-arrows-angle-6-l:before {
  content: "\e913";
}
.i-arrows-angle-6-r:before {
  content: "\e914";
}
.i-arrows-angle-6-u:before {
  content: "\e915";
}
.i-arrows-angle-6-d:before {
  content: "\e912";
}
.i-arrows-angle-7-l:before {
  content: "\e917";
}
.i-arrows-angle-7-r:before {
  content: "\e926";
}
.i-arrows-angle-7-u:before {
  content: "\e927";
}
.i-arrows-angle-7-d:before {
  content: "\e916";
}
.i-arrows-angle-8-l:before {
  content: "\e919";
}
.i-arrows-angle-8-r:before {
  content: "\e91a";
}
.i-arrows-angle-8-u:before {
  content: "\e91b";
}
.i-arrows-angle-8-d:before {
  content: "\e918";
}
.i-arrows-angle-9-l:before {
  content: "\e91d";
}
.i-arrows-angle-9-r:before {
  content: "\e91e";
}
.i-arrows-angle-9-u:before {
  content: "\e91f";
}
.i-arrows-angle-9-d:before {
  content: "\e91c";
}
.i-arrows-angle-10-l:before {
  content: "\e921";
}
.i-arrows-angle-10-r:before {
  content: "\e922";
}
.i-arrows-angle-10-u:before {
  content: "\e923";
}
.i-arrows-angle-10:before {
  content: "\e920";
}
